<% form_tag :action => 'create' do -%>
  <%= text_field_tag 'userid' %></p>
  <%= submit_tag '標的にする！' %>
<% end -%>


<table border='1'>
  <tr>
    <th>標的</th>
    <th>ランキング</th>
    <th>名声値</th>
    <th>種族</th>
    <th>ギルド</th>
    <th>城の数</th>
    <th>人口</th>
  </tr>
  <% @targets.each do |target| %>
  <tr>
    <td><%= link_to target.name, :action => 'show', :id => target.id %></td>
    <td><%=h target.details.first.ranking %></td>
    <td><%=h target.details.first.fame %></td>
    <td><%=h target.details.first.race %></td>
    <td><%=h target.details.first.guild %></td>
    <td><%=h target.details.first.castle %></td>
    <td><%=h target.details.first.population %></td>
  </tr>
  <% end %>
</table>


